<h1>Add a new plan</h1>
<%= form_with model:Plan.new do |f|%>

  <%= f.label :name %>
  <%= f.text_field :name , required: true%>


  <%= f.label :monthly_fee %>
  <%= f.text_field :monthly_fee, required: true%>
  <%# <%= f.file_field :images , multiple: false%> %>

  <div>
    <%= f.submit %>
  </div>
  <% end %>


